﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        
        
        <br/>

        <asp:Button ID="Button1" runat="server" OnClick="BrowseCars_Click" Text="Browse Cars" />
        <asp:Button ID="Button2" runat="server" OnClick="BrowseTrucks_Click" Text="Browse Trucks" />
    
        <br />
    
        <asp:Table ID="Table1" runat="server">
        </asp:Table>
            
    
        
    
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    
    </div>
    </form>
</body>
</html>
